.checkoutHeading{
    color: var(--primary-color-5);
    font-family: var(--primary-font-1);
    font-size: 30px;
}
.checkoutHeading span{
    color: var(--primary-color-1);
}
.checkoutHeadMain{
    font-family: var(--primary-font-1);
    font-size: 72px;
    color: var(--primary-color-2);
    font-weight: 500;
}
.checkoutStepperStep {
    --stepper-step-color: var(--primary-color-1);
}

.checkoutStepperStep .mantine-Stepper-stepIcon {
    background-color: var(--primary-color-1) !important;
    color: white !important;
    border: 1px solid var(--primary-color-3);
}

.checkoutStepperStep .mantine-Stepper-stepLabel {
    color: var(--primary-color-1) !important;
}
.checkoutStepperStep .mantine-Stepper-separator{
    background-color: var(--primary-color-1);
}
.checkoutInput .mantine-TextInput-input{
    border: 1px solid var(--primary-color-2);
    border-radius: 0%;
    height:2.6rem;
    color: var(--primary-color-2);
    font-family: var(--primary-font-2);
    margin-bottom: 8px;
}
.checkoutInput .mantine-TextInput-label{
    font-family: var(--primary-font-2);
    color: var(--primary-color-2);
    margin-bottom: 3px;
}
.checkoutInput .mantine-Textarea-label{
    font-family: var(--primary-font-2);
    color: var(--primary-color-2);
    margin-bottom: 3px;
}
.checkoutInput .mantine-Textarea-input{
    border: 1px solid var(--primary-color-2);
    border-radius: 0%;
    height: auto;
    color: var(--primary-color-2);
    font-family: var(--primary-font-2);   
}
.checkoutImage{
    width: 100px;
    height: 100px;
}
.checkoutOrderSummary{
    margin: 80px 0px 0px 30px;
}
.checkoutOrderSummaryHead{
    font-family: var(--primary-font-2);
    font-size: 32px;
    font-weight:500;
    color: var(--primary-color-2);
    text-transform: uppercase;
}
.checkoutOrderSummaryName{
    font-family: var(--primary-font-2);
    color:var(--primary-color-2);
    font-size: 20px;
}
.checkoutOrderSummaryPrice{
    font-family: var(--primary-font-2);
    color: var(--primary-color-4);
    font-size: 14px;
}


.checkoutOrderSummarySubtotal{
    font-family: var(--primary-font-2);
    color: var(--primary-color-2);
}
.chechoutOrderSummaryTotal{
    font-family: var(--primary-font-2);
    color: var(--primary-color-2);
    font-weight: 900;
}
.checkoutButton{
    font-family:var(--primary-font-2);
    border: none;
    border-radius: 0%;
    height:6vh;
    width:40%  ;
    color: #fff;
    background-color:var(--primary-color-1);
    float: right;
}
.checkoutButton:hover{
    background-color: #5e2f0d;
    color: var(--primary-color-3);
    transition: 0.3s ease;
}

@media only screen and (max-width: 992px) {
    .checkoutOrderSummary{
        margin: 0;
    }
    .checkoutHeadMain{
        font-size: 55px;
    }
    .checkoutButton{
        width:70%;
    }
}